@import 'node_modules/normalize-scss/sass/normalize/import-now';

:root {
    --ms-bases: 1;
    --ms-ratios: 1.2;
}

$background: #eee;
$base-font: 'Source Sans Pro';

/*
    Apply a natural box layout model to all elements,
    but allow components to change, from Paul Irish:
    https://www.paulirish.com/2012/box-sizing-border-box-ftw
*/

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: $background;
    font-family: $base-font;
}

fieldset {
    border: none;
    padding: 0.5rem 0 1.25rem; // -top affects .instruction
    margin: 0 1rem;
}

legend {
    font-size: 2rem;
    padding-top: 1rem;

    &::first-letter {
        text-transform: capitalize;
    }
}

legend,
label,
button {
    &::first-letter {
        text-transform: capitalize;
    }
}

input,
button {
    border: 1px solid;
    border-color: #999;
    font-family: $base-font;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='file'],
input[type='tel'],
input[type='url'],
input[type='reset'],
input[type='submit'],
button {
    padding: 0 3px;
    height: 37px;
}

input + label {
    margin-right: 0.25rem;
}

label + input {
    margin-left: 0.5rem;
}

button {
    border-radius: 0.5rem;
}

.container {
    width: 100%;
    background-color: white;
    position: relative;
    margin-bottom: 1rem;
}

@media screen and (min-width: 640px) {
    body {
        padding: 1rem 0;
    }

    .container {
        width: 80%;
        left: 10%;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 60%;
        left: 20%;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 50%;
        left: 25%;
    }
}
